<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>07-13-api-project</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/global.css">
  <link rel="stylesheet" type="text/css" href="/media-queries.css">
</head>
<body>
<%= erb :"main/header" %>
<div class="wrapper">
<%= yield %>
<script rel="script" type="text/javascript" src="/xhr.js"></script>
</div>
<footer><a href="/home">Go to home page</a></footer>
</body>
</html>