<%= erb :"main/header" %>
<!-- warning that clicking "confirm" will remove user from database -->

<p>Press <a href="/user/delete_user/<%= @user.id %>">confirm</a> to delete <%= @user.name %>.</p>
<a href="/home">Return to main menu?</a>

