<%= erb :"main/header" %>
<!-- form will go to /save_user and take input as params["name"] -->

<form method="post" action="/save_assignment">
  <h6>Make an Assignment</h6>
  <label>Assignment's Title:</label>
  <br>
  <input type="text" name="title" placeholder="New title: ">
  <br><br>

  <label>Assignment's description:</label>
  <br>
  <TEXTAREA NAME="description"></TEXTAREA>
  <br><br>

  <label>URL of Assignment:</label>
  <br>
  <TEXTAREA NAME="repo"></TEXTAREA>

  <div class="radio-group">
    <label>Select a User to assign to this Assignment</label>
    <% i = 1 %>
    <% User.all.each do |user| %>
    <div class="btn-container">
      <input type="checkbox" name="contributors[]" multiple="multiple" id="checkbox-btn-2-<%= i %>" value="<%= user.id %>">
      <label><%= user.name %></label>
    </div>
    <% i += 1 %>
    <% end %>
  </div>

  <input type="submit">
</form>



