<header>
  <h1>API Project</h1>
  <button id="nav" type="button">X</button>
  <nav>
    <ul>
      <li><a href="/users_manager">Users</a></li>
      <li><a href="/assignments_manager">Assignments</a></li>
      <li><a href="/resources_manager">Resources</a></li>
    </ul>
  </nav>
</header>



<!-- Takes user to users.rb controller and begins at:  get "/users_manager" do -->
<!-- Takes user to recipes.rb controller and begins at:  get "/users_manager" do -->