
<p>Click a menu item to view a list of:</p>
<ul>
  <li><a href="/users_manager">Users</a></li>
  <li><a href="/assignments_manager">Assignments</a></li>
  <li><a href="/resources_manager">Resources</a></li>
</ul>
