
<!-- form will go to /save_user and take input as params["name"] -->
<h2>
	Add A User
</h2>
<form action="/save_user">
  <input type="text" placeholder="Enter name!" name="name" value="<%= params["name"] %>">
  <input type="submit">
</form>

<p>
	Return to <a href="/users_manager">User Manager?</a>
</p>
