
<h2>List of Users</h2>

<ul>
  <% User.all.each do |user| %>
      <li><a href="/user/<%= user.id %>"><%= user.name %></a></li>
  <% end %>
</ul>

<p>
	Return to <a href="/users_manager">User Manager?</a>
</p>


<!-- the ruby tags provide ability to loop through the "users" table and display the name in each row -->
<!-- The href="/user/<%# user.id %> will take the user back to the users.rb and route to: get "/user/:x" do -->