<!-- warning that clicking "confirm" will remove assignment from database -->

<p>Press <a href="/assignment/delete_assignment/<%= @assignment.id %>">confirm</a> to delete <%= @assignment.title %>.</p>
<a href="/home">Return to main menu?</a>
