<!-- message to user to confirm user's name was updated -->

<h2><%= @assignment.title %> updated!</h2>
<p><a href="/home">GO HOME!</a></p>
<p><a href="/assignment/<%= @assignment.id %>">Review <%= @assignment.title %>?</a></p>

